p {                  /* stle for elements*/
  color: red;
  width: 500px;
  border: 1px solid black;
}

.Editer-note {    /* style for classes preceded by a dot */
	color: blue;
}

#my-last-para{           /* style for identifiers preceded by a # */
	color: green;
}

ul:hover{               /* this says when hovering over ul element apply this style*/
	color:green;       /* this can be done with other selectors as well for instance  #my-last-para:hover is possible */
}